@import "tailwindcss";

:root {
  /* primary */
  --primary-light: hsl(148, 38%, 91%);
  --primary-green: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);

  /* neutral */
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: clamp(0.8em, 0.8em + 0.8vw, 1.2em);
  }

  body {
    font-family: "Karla", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
  }

  label {
    font-size: 1rem;
    @apply pb-2 font-bold;
  }

  label::after {
    content: "*";
    color: var(--primary-green);
    display: inline-block;
    padding-left: 0.3rem;
  }

  input,
  textarea {
    @apply border-(--grey-medium) border-1 rounded-md p-1 ps-2 hover:border-2 focus:border-2 focus:outline-none focus:border-(--grey-medium) min-w-fit;
  }

  [aria-invalid="true"] {
    @apply border-(--primary-red);
  }
  [aria-invalid="true"] ~ span {
    visibility: visible !important;
  }

  input[type="radio"] {
    @apply accent-(--primary-green) size-4;
  }

  input[type="radio"]:checked {
    @apply bg-(--primary-light);
  }
}

@layer components {
  .err-msg {
    visibility: hidden;
    color: var(--primary-red);
    padding: 0.5rem 0;
  }

  .show {
    visibility: visible;
  }
  .radio-label {
    @apply after:content-none p-3 flex items-center justify-start gap-3 border-1 border-(--grey-medium) rounded-xl has-checked:bg-(--primary-light) w-full focus-within:border-3 cursor-pointer;
  }

  .toast {
    @apply min-w-[23rem] fixed top-8 left-1/2 -translate-x-1/2 bg-(--grey-darker) shadow-xl px-4 py-5 rounded-xl text-(--white) space-y-3;
  }
}
